@font-face{
    font-family: "antonio";
    src: url(Antonio-VariableFont_wght.ttf);
}

html{
    /* background: rgb(191,24,32); */
    background: linear-gradient(90deg, rgba(191,24,32,1) 20%, rgba(210,215,219,1) 50%, rgba(9,9,121,1) 80%);
    /* background-repeat: repeat-x;
    background-size: 45%; */
    width: 100%;
    /* margin-right: 100px; */

}

div.jumbotron {
    font-family: "antonio";
    /* background-color: ;
    width: ; */
    margin-top: 1em;
    margin-bottom: 2em;
}
